.container {
  background: #1677ff;
  display: flex;
  position: fixed;
  top: 0;
  padding: 20px;
  height: 70px;
  width: 100%;
  z-index: 10;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: stretch;
}

.logo svg{
  width: 2rem;
  height: 2rem;
  color: white;
}

.logo__text {
  font-size: 26px;
  font-weight: 600;
  color: white;
  letter-spacing: -1px;
}